.footer {
  background-color: $DarkBlue;
  color: $White;
  padding: 2.5rem;
  text-align: center;

  .container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "logo links cta"
        "social links copyright";
      column-gap: 1rem;
      justify-items: start;
    }
  }

  &__links {
    display: flex;
    justify-self: center;
    a {
      align-self: center;
      display: flex;
      &:not(:last-child) {
        margin-right: 6em;
      }
    }
  }

  a {
    color: $White;
  }
  &__logo {
    display: inline-block;
    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }
    @include breakpoint-up(large) {
      grid-area: logo;
    }
    img {
      height: 3rem;
    }
  }

  &__social {
    a:not(:last-child) {
      margin-right: 0.6rem;
    }
    svg path {
      transition: fill 150ms ease-in-out;
    }
    a:hover svg path {
      fill: $TigrayYellow;
    }
    @include breakpoint-down(medium) {
      margin-bottom: 1.875rem;
    }
    @include breakpoint-up(large) {
      grid-area: social;
      align-self: flex-end;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    font-size: 0.9375rem;
    padding: 2em 0 2em 0;
    align-items: flex-start;
    justify-content: center;

    a {
      transition: color 150ms ease-in-out;
      &:hover {
        color: $TigrayYellow;
      }
      @include breakpoint-down(medium) {
        line-height: 2.25;
      }
    }
  }

  &__cta {
    font-size: 0.85rem;
    @include breakpoint-up(large) {
      grid-area: cta;
      text-align: right;
      justify-self: right;
    }
    a.button {
      margin-bottom: 1.875rem;
    }
  }

  &__copyright {
    font-size: 0.8125rem;
    color: $GrayishBlue;

    @include breakpoint-up(large) {
      grid-area: copyright;
      justify-self: end;
      align-self: flex-end;
    }
  }
}
