.footer {
  background-color: $DarkBlue;
  padding: 2rem;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint-down(small) {
      flex-direction: column;
    }
    .logoSocialsContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  a {
    color: $White;
  }
  &__logo {
    img {
      height: 5rem;
      margin-right: 2rem;
    }
  }

  &__social {
    a:not(:last-child) {
      margin-right: 0.6rem;
    }
    svg path {
      transition: fill 150ms ease-in-out;
    }
    a:hover svg path {
      fill: $TigrayYellow;
    }
  }
  &__cta {
    font-size: 0.85rem;
    margin: 2rem;
  }

  &__copyright {
    font-size: 0.8125rem;
    color: $GrayishBlue;
  }
}
