.hero {
  margin-top: 8vh;
  .containerHero {
    position: relative;
    display: flex;
    width: 100vw;
    background-color: $VeryLightGray;

    @include breakpoint-down(medium) {
      font-size: 1rem;
    }
    @include breakpoint-down(small) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }
    .containerInside {
      flex-direction: column;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 5rem;
      @include breakpoint-down(medium) {
        padding: 2rem 0 0 5rem;
      }
      @include breakpoint-down(small) {
        padding: 2rem 1rem 0 1rem;
      }
    }
  }
  .women {
    transform-origin: top;
    z-index: 5;
    @include breakpoint-down(medium) {
      width: 100vw;
      display: flex;
      justify-content: flex-end;
    }
  }

  #women-orange {
    animation: clrOrange 4s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
  }
  #women-red {
    animation: clrRed 4s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
  }
  #women-yellow {
    animation: clrYellow 4s ease-in-out infinite alternate;
  }
  #women-white {
    animation: clrWhite 4s ease-in-out infinite alternate;
  }
  @keyframes clrOrange {
    from {
      transform: translateY(0%) rotateZ(0deg);
    }
    to {
      transform: translateY(-1%) rotateZ(1deg);
    }
  }
  @keyframes clrRed {
    from {
      transform: translateY(0%) rotateZ(0deg);
    }
    to {
      transform: translateY(1%) rotateZ(-1deg);
    }
  }
  @keyframes clrYellow {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-1%);
    }
  }
  @keyframes clrWhite {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(1%);
    }
  }
}
