.containerHero {
  display: flex;
}

.hero {
  background-color: $VeryLightGray;

  .containerInside {
    margin-left: 10%;
    z-index: 10;
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__text {
    text-align: justify;

    @include breakpoint-up(large) {
      flex-direction: column;
      order: 1;
      text-align: left;
    }
  }
}
.women {
  flex-direction: column;
  order: 2;
  transform-origin: top;
  transform: scale(1.4);
  z-index: 5;
}

#women-orange {
  animation: clrOrange 4s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#women-red {
  animation: clrRed 4s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
#women-yellow {
  animation: clrYellow 4s ease-in-out infinite alternate;
}
#women-white {
  animation: clrWhite 4s ease-in-out infinite alternate;
}
@keyframes clrOrange {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }
  to {
    transform: translateY(-1%) rotateZ(1deg);
  }
}
@keyframes clrRed {
  from {
    transform: translateY(0%) rotateZ(0deg);
  }
  to {
    transform: translateY(1%) rotateZ(-1deg);
  }
}
@keyframes clrYellow {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-1%);
  }
}
@keyframes clrWhite {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(1%);
  }
}
