.motto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

    @include breakpoint-down(medium) {
      padding: 0 7rem 0 7rem;
    }
  }
  & h1 {
    z-index: 15;
    @include breakpoint-down(medium) {
      text-align: center;
    }
  }
  & p {
    z-index: 15;

    @include breakpoint-down(medium) {
      text-align: center;
    }
  }
}
