.woyane {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    @include breakpoint-down(medium) {
      width: 80vw;
    }
  }

  &__container svg {
    position: absolute;
    transform-origin: center;
    transform: scale(1.8) translateX(-30%) translateY(5%);
    opacity: 30%;
    overflow: hidden;
    @include breakpoint-down(small) {
      display: none;
    }
  }
}
