.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
  line-height: 1.3;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1;
  color: #2d314d;
  margin-top: 0px;
}

h1 {
  margin-bottom: 1.5rem;
}

@media (min-width: 64.1em) {
  h1 {
    font-size: 3.25rem;
  }
}

@media (max-width: 63.9375em) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64.1em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #9698a6;
}

button,
.button {
  padding: 0.875rem 2.1875rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#fcdf4c), to(#dc332e));
  background-image: linear-gradient(to right, #fcdf4c, #dc332e);
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: 700;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover,
.button:hover {
  opacity: 0.75;
}

@media (max-width: 63.9375em) {
  button,
  .button {
    padding: 0.5rem 1rem;
  }
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 0 2rem;
  height: 8vh;
  z-index: 999;
  background-color: #fff;
}

@media (max-width: 63.9375em) {
  .header {
    padding: 1rem;
  }
}

@media (max-width: 39.9375em) {
  .header {
    padding: 0.5rem;
  }
}

.header__logo img {
  height: 3rem;
}

.header .announcement {
  left: 50%;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .announcement h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
  color: #dc332e;
  margin: 0 auto;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 39.9375em) {
  .header .announcement h1 {
    font-size: 0.5rem;
  }
}

.header .announcement h1 .a1 {
  display: inline-block;
  -webkit-animation: scrolling-left1 10s linear infinite;
          animation: scrolling-left1 10s linear infinite;
}

.header .announcement h1 .a2 {
  display: inline-block;
  -webkit-animation: scrolling-left2 10s linear infinite;
          animation: scrolling-left2 10s linear infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
  }
}

@media (max-width: 39.9375em) {
  .header .button {
    font-size: 0.5rem;
    padding: 0.5rem 0.5rem;
  }
}

.hero {
  margin-top: 8vh;
}

.hero .containerHero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  background-color: #fafafa;
}

@media (max-width: 63.9375em) {
  .hero .containerHero {
    font-size: 1rem;
  }
}

@media (max-width: 39.9375em) {
  .hero .containerHero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero .containerHero .containerInside {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5rem;
}

@media (max-width: 63.9375em) {
  .hero .containerHero .containerInside {
    padding: 2rem 0 0 5rem;
  }
}

@media (max-width: 39.9375em) {
  .hero .containerHero .containerInside {
    padding: 2rem 1rem 0 1rem;
  }
}

.hero .women {
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 5;
}

@media (max-width: 63.9375em) {
  .hero .women {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.hero #women-orange {
  -webkit-animation: clrOrange 4s ease-in-out infinite alternate;
          animation: clrOrange 4s ease-in-out infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.hero #women-red {
  -webkit-animation: clrRed 4s ease-in-out infinite alternate;
          animation: clrRed 4s ease-in-out infinite alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.hero #women-yellow {
  -webkit-animation: clrYellow 4s ease-in-out infinite alternate;
          animation: clrYellow 4s ease-in-out infinite alternate;
}

.hero #women-white {
  -webkit-animation: clrWhite 4s ease-in-out infinite alternate;
          animation: clrWhite 4s ease-in-out infinite alternate;
}

@-webkit-keyframes clrOrange {
  from {
    -webkit-transform: translateY(0%) rotateZ(0deg);
            transform: translateY(0%) rotateZ(0deg);
  }
  to {
    -webkit-transform: translateY(-1%) rotateZ(1deg);
            transform: translateY(-1%) rotateZ(1deg);
  }
}

@keyframes clrOrange {
  from {
    -webkit-transform: translateY(0%) rotateZ(0deg);
            transform: translateY(0%) rotateZ(0deg);
  }
  to {
    -webkit-transform: translateY(-1%) rotateZ(1deg);
            transform: translateY(-1%) rotateZ(1deg);
  }
}

@-webkit-keyframes clrRed {
  from {
    -webkit-transform: translateY(0%) rotateZ(0deg);
            transform: translateY(0%) rotateZ(0deg);
  }
  to {
    -webkit-transform: translateY(1%) rotateZ(-1deg);
            transform: translateY(1%) rotateZ(-1deg);
  }
}

@keyframes clrRed {
  from {
    -webkit-transform: translateY(0%) rotateZ(0deg);
            transform: translateY(0%) rotateZ(0deg);
  }
  to {
    -webkit-transform: translateY(1%) rotateZ(-1deg);
            transform: translateY(1%) rotateZ(-1deg);
  }
}

@-webkit-keyframes clrYellow {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
}

@keyframes clrYellow {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
}

@-webkit-keyframes clrWhite {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
}

@keyframes clrWhite {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
}

.feature {
  background-color: #f3f4f6;
  text-align: left;
}

.feature__content {
  width: 100vw;
}

@media (min-width: 40em) {
  .feature__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.feature__item {
  margin: 1rem;
  padding: 1rem;
}

@media (min-width: 40em) {
  .feature__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 64.1em) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 2rem 4rem;
  }
}

.feature__icon {
  margin-bottom: 1.875rem;
}

@media (min-width: 64.1em) {
  .feature__icon {
    margin-bottom: 2.75rem;
  }
}

.feature__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: #2d314d;
  margin-bottom: 1rem;
}

@media (min-width: 64.1em) {
  .feature__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.feature__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.articles {
  background-color: #fafafa;
  text-align: center;
  padding: 5rem 2rem;
}

@media (min-width: 40em) {
  .articles {
    text-align: left;
  }
}

.articles h1 {
  padding-left: 5%;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
}

@media (min-width: 40em) {
  .article__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0 5% 0 5%;
  }
}

@media (min-width: 64.1em) {
  .article__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__text {
  background-color: white;
  color: #9698a6;
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
}

@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.5625rem;
  }
}

.article__title {
  color: #2d314d;
  font-size: 1.0625rem;
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

.article__description {
  font-size: 0.8125rem;
}

.footer {
  background-color: #2d314d;
  padding: 2rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 39.9375em) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__container .logoSocialsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a {
  color: white;
}

.footer__logo img {
  height: 5rem;
  margin-right: 2rem;
}

.footer__social a:not(:last-child) {
  margin-right: 0.6rem;
}

.footer__social svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  fill: #fcdf4c;
}

.footer__cta {
  font-size: 0.85rem;
  margin: 2rem;
}

.footer__copyright {
  font-size: 0.8125rem;
  color: #9698a6;
}

.motto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.motto__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 63.9375em) {
  .motto__container {
    padding: 0 7rem 0 7rem;
  }
}

.motto h1 {
  z-index: 15;
}

@media (max-width: 63.9375em) {
  .motto h1 {
    text-align: center;
  }
}

.motto p {
  z-index: 15;
}

@media (max-width: 63.9375em) {
  .motto p {
    text-align: center;
  }
}

.woyane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.woyane__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 63.9375em) {
  .woyane__container {
    width: 80vw;
  }
}

.woyane__container svg {
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(1.8) translateX(-30%) translateY(5%);
          transform: scale(1.8) translateX(-30%) translateY(5%);
  opacity: 30%;
  overflow: hidden;
}

@media (max-width: 39.9375em) {
  .woyane__container svg {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */